@import "_mixins";
@import '_grid';
@import '_reset';
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both ;
  }
}
.clearfix {
  @include clearfix;
}
*{
	  box-sizing: border-box;
}
body{
	width: 100%;
}
@media (max-width: 64em){
	.title-top{
		font-size: 30px;
		text-align: center;
		font-weight: 500;
		margin-bottom: 30px;
		span{
			display: block;
		}
	}
	.title{
		font-size: 30px;
		color: #c03221;
		font-family: 'roboto';
		font-weight: 500;
		margin-bottom: 20px;
		letter-spacing: -0.06em;
		span{
			border-bottom: solid #c03221 4px;
		}
	}
	.info{
		margin-bottom: 30px;
		.info__text{
			font-size: 12px;
			margin-bottom: 30px;
		}
		.vector-img{
			margin-bottom: 30px;
		}
		.vector-text{
			text-indent: 1.5em;
			font-size: 14px;
			font-weight: bold;
			padding-left: 35px;
			&:after{
			}
		}
	}
}
.icon{
		text-align: center;
	}
.intro{
	padding: 30px 0 0 0;
	font-family: 'roboto';
	font-size: 12px;
}
.subtitle{
	padding: 15px 0 0 0;
	text-align: right;
	font-size: 16px;
	font-family: 'proxima_nova';
	font-weight: bold;
}
.text{
	font-family: 'roboto';
	font-size: 12px;
	padding: 10px 0 0 35px;
	span{
		font-weight: bold;
		color: #c03221;
	}

}
.Catching__title{
	padding-top: 35px;
}
.Catching__subtitle{
	text-align: left;
	padding: 10px 0 0 35px;
	.subtitle__text{
		padding: 0 0 0 30px;
		font-family: 'roboto';
		font-size: 12px;
		font-weight: normal;
		span{
		font-weight: bold;
		color: #c03221;
		}
	}
}
