.wrapper
	.Catching 
		.title.Catching__title <span>Catc</span>hing the Long Tail
		.icon.Catching__icon
			img(src='img/icon_catching.png', alt="Catching__icon")
		.intro.Catching__intro No one knows how Google search functions, exactly. It is known, though, that it pays attention to links to your website, user behavior and relevance of your page’s content to the search query. If your page has text about buying an iPhone at a particular location, Google will think it is very relevant to a search request that mentions this place. Here is how you use this knowledge for profit:
		.subtitle.Catching__subtitle Create a website with a<br>new domain name
			.subtitle__text New domain names get promoted in search results.
		.subtitle.Catching__subtitle Write or buy an article with some<br>keywords that go well with<br>location data
			.subtitle__text For instance, it can be an article about car wash services in a specific location. Use an article spinning service to automatically generate tons of similar articles with slightly different wordings, as Google punishes websites for duplicate content.
		.subtitle.Catching__subtitle Use mass page generator software to create millions of pages for different locations
			.subtitle__text With a mass page generator like SERP.farm, you can do it in one second, and all the location data is already there. It is as easy as pressing a button.
		.subtitle.Catching__subtitle Wait for the website to get indexed and monetize your traffic
			.subtitle__text After your website gets indexed by Google, you will start getting tons of visitors to your website.<br><span>You can generate as many websites like this as you want!</span>