title game
meta(charset='utf-8')
script(src="https://code.jquery.com/jquery-3.2.1.min.js", integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin="anonymous")
script(src="jquery.maskedinput.js" type="text/javascript")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css" )
script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnTAxhj8yuG0bpdOVXUdmgNe8bGE4rHc4&language=ru&region=ru&callback=initMap",async,defer)
script(type="text/javascript" src="js/jquery.googlemap.js")
script(src='js/src.js')
meta(name="viewport" content="width=device-width")
link(rel='stylesheet', href='css/style.css')
link(href="fonts/stylesheet.css", rel="stylesheet")
link(href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet")
link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
