.wrapper
	.money
		.title.money__title <span>Gett</span>ing Your Money
		.icon.money__icon
			img(src='img/icon_money.png', alt="money__icon")
		.intro.money__intro Once your network of mass-generated websites starts pumping in traffic, you can monetize it in many ways:
		.text.money__text 
			ul
				li Display ads on your generated websites;
				li Redirect traffic to a quality website with ads or affiliate offers;
				li Rent your websites to local companies;
				li Impress local customers with top positions in search results;
				li Generate leads or sell your product by using an overlay element with whatever text you want;
				li Use any other monetization method that works for you.
				