.wrapper
	.the-idea
		.title.the-idea__title <span>The </span>Idea
		.icon.the-idea__icon
			img(src='img/icon_the-idea.png', alt="the-idea__icon")
		.intro.the-idea__intro Some keywords people are searching for are very competitive. It’s hard to get any traffic from a website optimized for a keyword like “buy iPhone” because everyone tries that.
		.subtitle.the-idea__subtitle So, you should be smart.
		.text.the-idea__text A lot (20 to 50 percent, depending on sources) of search queries are what’s called <span>long tail keywords.</span> That is, people are looking for some very specific things, like “buy iPhone in Millington, Maryland, 21651.” Voice search (like Siri, Google Now, or Microsoft Cortana) is growing in market share, and most voice search requests are long tail keywords. No one optimizes for these keywords, though, as each individual keyword only gets you a couple of visitors per day. But if you could optimize for millions of similar keywords, like “buy iPhone + location,” you will get <span>a lot of traffic</span> with little effort.