doctype
html(lang=ru)
	head
		include ./parts/head
	body
		.wrapper
			.info
				.title-top
					span Basic
					span Money-Making
					span Techniques
				.title
					span Fill Out Paid Onlinte Surveys
				.info__text
					span Many companies want to know your opinions on their products and Many companies want to know your opinions on their products and Many companies want to know your opinions on their products and
				.vector-img
					img(src='imag/Vector1_1.png',alt="")
				.vector-text
					spna yura z baikonura
